doctype html
html
	head
		meta(charset='utf-8')
	style
		include styles.css
	body
		table
			tr
				th= 'Symbol'
				th= 'Price'
				th= 'Difference'
				th= 'Percentage'
			- var directionToClass = { up: "green-letters", down: "red-letters", noChange: "dark-gray-letters" }
			each stock in stocks
				tr(class=directionToClass[stock.direction])
					td= stock.symbol
					td= stock.price
					td= stock.diff
					td= stock.percentage
